<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <h2><%= @flat.name %></h2>
      <h4><%= @flat.address %></h4>
      <h4><%= @flat.description %></h4>
      <div class="d-flex flex-row">
        <p class="px-1"><i class="fa-solid fa-person px-1"></i><%= @flat.number_of_guests %></p>
        <p class="px-1"><i class="fa-solid fa-euro-sign px-1"></i><%= @flat.price_per_night %></p>
      </div>
      <%= cl_image_tag @flat.photo.key, :crop=>"crop", class:'image-card-index' %>
    </div>
    <div class="col-4"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="col-4 booking-form">
      <%= render "bookings/form", flat: @flat, booking: @booking %>
    </div>
  </div>
</div>
